body{
    background-color: #131313;
    display: flex;
    color: white;
    flex-direction: column;
    font-family: Verdana,sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Hero-Image img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Hero {
    position: absolute;
    top: 40%;               
    left: 5%;               
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    
    color: white;
    max-width: 60%;
}
.Hero > h3{
    color: #800020;
    margin-bottom: -10px;
    font-family: 'Courier New', monospace;
}
.Hero > h1 {
    font-size: 50px;
    font-family: cursive;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    border-right: 2px solid white;
    animation: typing 2s steps(40) forwards,
               blink-caret 2s step-end infinite;
}
.Hero>p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 60%
}

.about, .Education{
    background-color: #1E1E1E;
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about >h1 , .Education > h1 , .Skills{ 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight:800;
    font-size: 45px;
    border-bottom:3px solid #800020;
}

.about p {
    text-align: justify;    
    font-size: 1.1rem;
    line-height: 1.8;       
    color: #e0e0e0;         
    max-width: 900px
}

.Education{
    background-color: #131313;
}

.ED-Blocks {
    background-color: #1E1E1E;
    padding: 30px;
    margin-bottom: 50px;
    border-left:5px solid #800020;
}

.degree-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}





@keyframes typing {
    from { width: 0; }
    to { width: 320px; }
}

@keyframes blink-caret {
    0%, 100% { border-color: white; }
    50% { border-color: transparent; }
}

@keyframes fadeIn {
    to { opacity: 1; }
}

