body{
    background-color: #131313;
    display: flex;
    color: white;
    flex-direction: column;
    font-family: Verdana,sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Hero-Image img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Hero {
    position: absolute;
    top: 40%;               
    left: 5%;               
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    
    color: white;
    max-width: 60%;
}
.Hero > h3{
    color: #800020;
    margin-bottom: -10px;
    font-family: 'Courier New', monospace;
}
.Hero > h1 {
    font-size: 50px;
    font-family: cursive;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    border-right: 2px solid white;
    animation: typing 2s steps(40) forwards,
               blink-caret 2s step-end infinite;
}
.Hero>p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 60%
}

.about, .Education , .skills{
    background-color: #1E1E1E;
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about >h1 , .Education > h1 , .skills >h1 , .Skills > h1 { 
    text-align: center;
    font-family: 'Courier New', monospace;
    font-weight:800;
    font-size: 45px;
    border-bottom:3px solid #800020;
}

.about p {
    text-align: justify;    
    font-size: 1.1rem;
    line-height: 1.8;       
    color: #e0e0e0;         
    max-width: 900px
}

.Education{
    background-color: #131313;
    font-family:'Courier New', monospace;
}

.ED-Blocks {
    background-color: #1E1E1E;
    padding: 30px;
    margin-bottom: 50px;
    border-left:5px solid #800020;
}

.degree-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.skills {
    background-color: #1E1E1E;
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    max-width: 1400px;
}

.box {
    background: #111111;
    border: 1px solid #222;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: border-color 0.3s ease;
    min-width: 300px;
}

.box:hover {
    border-color:#800020;
}

#b1 { flex: 2 1 calc(66.66% - 16px); }
#b3 { flex: 1 1 calc(33.33% - 16px); }
#b2 { flex: 1 1 calc(33.33% - 16px); }
#b4 { flex: 2 1 calc(66.66% - 16px); }

.box h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 1000;
    color:white;
}

.pills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pill {
    background:#1E1E1E ;
    color: #eee;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 0.85rem;
    border: 1px solid #333;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.pill:hover {
    background: #ffffff;
    color: #000000;
    border-color: #ffffff;
}

@media (max-width: 1000px) {
    #b1, #b2, #b3, #b4 {
        flex: 1 1 100%;
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 320px; }
}

@keyframes blink-caret {
    0%, 100% { border-color: white; }
    50% { border-color: transparent; }
}

@keyframes fadeIn {
    to { opacity: 1; }
}

